root = true

[*]
charset = utf-8

# CS8601: 可能出现 null 引用赋值。
dotnet_diagnostic.CS8601.severity = none
# CS8602: 解引用可能出现空引用。
dotnet_diagnostic.CS8602.severity = none
# CS8618: 退出构造函数时，不可为 null 的属性必须包含非 null 值。
dotnet_diagnostic.CS8618.severity = none
# MA0011: 使用带有 IFormatProvider 参数的 ToString 重载。
dotnet_diagnostic.MA0011.severity = none
# MA0007: 在最后一个值后添加逗号。
dotnet_diagnostic.MA0007.severity = none
# MA0008: 添加 StructLayoutAttribute。
dotnet_diagnostic.MA0008.severity = none
# MA0016: 优先使用集合抽象而非具体实现。
dotnet_diagnostic.MA0016.severity = none
